<div class="comment-section-new">
    <div class="commenter-username-div">
        <h4 class="commenter-username">Comment by <a class="commenter-username-anchor" href="/users/">user here</a></h4>
    </div>
    <div class="comment-description-div">
        <p class="comment-description">comment here</p>
    </div>
</div>