<div class="comment-section-new p-3" style="border-top: 1px solid #3333336a;;">
    <div class="commenter-username-div d-flex justify-content-between">
        <h5 class="commenter-username col-9" style="font-size: 17px;">Comment by <a class="commenter-username-anchor" href="/home/users/{{user_id}}">{{user_table.username}}</a></h4>
        <p class="col-3" style="font-size: 13px; text-align: right;">{{comment_date}}</p>
    </div>
    <div class="comment-description-div">
        <p class="comment-description">{{comment_description}}</p>
    </div>
</div>