<div class="comment-section-new p-3" style="border-top: 1px solid #3333336a;;">
    <div class="commenter-username-div">
        <h5 class="commenter-username" style="font-size: 17px;">Comment by <a class="commenter-username-anchor" href="/home/users/{{user_id}}">{{user.username}}</a></h4>
    </div>
    <div class="comment-description-div">
        <p class="comment-description">{{comment_description}}</p>
    </div>
</div>