<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <section id="main-header">
            <div id="main-header-div">
                <div id="header-content-div">
                    <div id="header-title-div">
                        <h2 id="web-title">Tech Blog</h2>
                    </div>
                    <div id="header-buttons-div">
                        <button class="buttons" id="home-button">
                            Home
                        </button>
                        <button class="buttons" id="dashboard-button">
                            Dashboard
                        </button>
                    </div>
                    <div id="header-login-div">
                        <button class="buttons" id="login-button">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
       {{{body}}}
    </main>
    <footer>

    </footer>
    <script src="/js/main.js"></script>
</body>
</html>