
        <section id="create-sect">
            <div id="create-screen">
                <div id="post-title-form-div">
                    <form id="post-form">
                        <input type="text" id="post-title-input" placeholder="How to use if statements? too hard pls halp">
                    </form>
                </div>
                <div id="description-form-div">
                    <form id="description-form">
                        <input type="text" id="post-description-input" placeholder="Elaborate on your title here!">
                    </form>
                </div>
                <div id="post-button-div">
                    <button id="post-button">Post</button>
                </div>
            </div>
        </section>