
        <section id="new-post">
            <div id="new-post-screen">
                <div id="new-post-title-div">
                    <h2>Got something to share?</h2>
                </div>
            <div id="new-post-button-div">
                <button id="new-post-button">Make new post</button>
            </div>
            </div>
        </section>
        <section id="post-sect">
            <div class="post-screen">
                <div class="user-div">
                    <div class="username-div">
                        <h4 class="username"><a href="/users/">Username here</a></h4>
                    </div>
                </div>
                <div class="post-details-div">
                    <div class="post-title-div">
                        <h3 class="post-title"><a href="/posts/">Post here</a></h3>
                    </div>
                    <div class="post-description-div">
                        <p class="post-description">post description here</p>
                    </div>
                </div>
            </div>
        </section>