
        <section id="new-post" class="d-flex flex-column m-auto mt-3 p-3 rounded justify-content-center w-50">
            <div id="new-post-screen" class="d-flex flex-column text-center">
                <div id="new-post-title-div" class="mt-3">
                    <h2>Got something to share?</h2>
                </div>
            <div id="new-post-button-div" class="mt-2">
                    <button id="new-post-button" class="btn px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color: #33333319;">
                    <h4 class="commenter-username" style="font-size: 17px;">Make new post</b></h4>
                    </button>
            </div>
                <div class="collapse mt-4" id="collapseExample">
                <div class="title-form-div mb-3">
                    <h5 style="text-align: left;">Enter your post title:</h5>
                    <form id="title-form">
                        <input type="text" id="title-input" class="form-control"
                        aria-label="search" placeholder="Post title" style="height: 40px;"></input>
                    </form>
                </div>
                <div class="commenter-form-div mb-3">
                <h5 style="text-align: left;">Enter your post description:</h5>
                    <form id="description-form">
                        <textarea type="text" id="description-input" class="form-control"
                        aria-label="search" placeholder="Post description" style="height: 110px;"></textarea>
                    </form>
                </div>
                <div id="post-button-div" class="d-flex justify-content-center">
                    <button id="post-button" class="col-6 mt-1 buttons btn btnB px-3">Post</button>
                </div>
            </div>
        </section>
        <section id="post-sect" class="d-flex flex-column w-50 m-auto mt-3 p-3 rounded">
            <h3>Your Posts:</h3>
            {{#if mappedPost}}
            {{#each mappedPost as |post|}}
                {{> dashboard-partial}}
            {{/each}}
            {{else}}
             <div class="post-screen">
                <h5 class="mt-3">You haven't made any posts yet!</h5>
             </div>
             {{/if}}
        </section>
        <script src="/js/newpost.js"></script>
        <script src="/js/homepage.js"></script>