
        <section id="new-post">
            <div id="new-post-screen">
                <div id="new-post-title-div">
                    <h2>Got something to share?</h2>
                </div>
            <div id="new-post-button-div">
                <button id="new-post-button">Make new post</button>
            </div>
            </div>
        </section>
        <section id="post-sect">
            {{#each yourpost as |post|}}
                {{> dashboard-partial}}
            {{/each}}
        </section>
        <script src="/js/dashboard.js"></script>