
        <section id="new-post">
            <div id="new-post-screen">
                <div id="new-post-title-div">
                    <h2>Got something to share?</h2>
                </div>
            <div id="new-post-button-div">
                <button id="new-post-button">Make new post</button>
            </div>
            </div>
        </section>
        <section id="post-sect">
            {{#if mappedPost}}
            {{#each mappedPost as |post|}}
                {{> dashboard-partial}}
            {{/each}}
            {{else}}
             <div class="post-screen">
                <h3>You haven't made any posts yet!</h3>
             </div>
             {{/if}}
        </section>
        <script src="/js/dashboard.js"></script>