
        <section id="post-sect" class="d-flex flex-column w-50 m-auto mt-3 p-3 rounded">
            {{#each mappedPost as |post|}}
            {{> post-partial}}
            {{/each}}
        </section>