 <section id="login-sect">
            <div id="login-screen">
                <div class="user-div">
                    <div class="user-title-div">
                        <h3 class="user-title">Your username</h3>
                    </div>
                    <div class="user-form-div">
                        <form id="user-form">
                            <input type="text" id="user-input" placeholder="exampleslayer123">
                        </form>
                    </div>
                </div>
                <div class="user-div">
                    <div class="user-title-div">
                        <h3 class="user-title">Your password</h3>
                    </div>
                    <div class="user-form-div">
                        <form id="password-form">
                            <input type="text" id="password-input" placeholder="super secret password">
                        </form>
                    </div>
                </div>
                <div id="sign-in-div">
                    <div id="sign-in-button-div">
                        <button id="sign-in-button">Login</button>
                    </div>
                    <div id="sign-up-button-div">
                        <a href="/sign-up" id="sign-up-button">Sign up instead</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/login.js"></script>