 <section id="login-sect" class="d-flex flex-column m-auto mt-3 p-3 rounded">
            <div id="login-screen" class="d-flex flex-column">
                <div class="d-flex justify-content-center col-2 m-auto mb-3 mt-3">
                    <h2 id="login-title" class="text-center">Login</h2>
                </div>
                <div class="user-div d-flex flex-column text-center col-4 w-100 mb-4 mt-3">
                    <div class="user-title-div">
                        <h5 class="user-title">Username</h5>
                    </div>
                    <div class="user-form-div w-75 m-auto">
                        <form id="user-form">
                            <input type="text" class="form-control" id="user-input" placeholder="exampleslayer123" required>
                        </form>
                    </div>
                </div>
                <div class="user-div d-flex flex-column text-center col-4 w-100 mb-4 mt-3">
                    <div class="user-title-div">
                        <h5 class="user-title">Password</h5>
                    </div>
                    <div class="user-form-div w-75 m-auto">
                        <form id="password-form">
                            <input type="password" class="form-control" id="password-input" placeholder="super secret password" required>
                        </form>
                    </div>
                </div>
                <div id="sign-in-div" class="col-2 m-auto d-flex flex-column text-center w-50">
                    <div id="sign-in-button-div">
                        <button id="sign-in-button" class="buttons btn btnB px-3 mb-4">Login</button>
                    </div>
                    <div>
                        <p style="font-size: 14px;">
                            Don't have an account?
                        </p>
                    </div>
                    <div id="sign-up-button-div">
                        <a href="/sign-up" id="sign-up-button" class="buttons btn btnB px-3">Sign up instead</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/login.js"></script>