 <section id="login-sect" class="d-flex flex-column w-50 m-auto mt-3 p-3 rounded">
            <div id="login-screen">
                <div class="user-div">
                    <div class="user-title-div">
                        <h3 class="user-title">New username</h3>
                    </div>
                    <div class="user-form-div">
                        <form id="user-form">
                            <input type="text" id="user-input" placeholder="exampleslayer123">
                        </form>
                    </div>
                </div>
                <div class="user-div">
                    <div class="user-title-div">
                        <h3 class="user-title">New password</h3>
                    </div>
                    <div class="user-form-div">
                        <form id="password-form">
                            <input type="text" id="password-input" placeholder="super secret password">
                        </form>
                    </div>
                </div>
                <div id="sign-in-div">
                    <div id="sign-in-button-div">
                        <button id="sign-in-button">Create new account</button>
                    </div>
                    <div id="sign-up-button-div">
                        <a href="/login" id="sign-up-button">Log in instead</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/signup.js"></script>