* {
    border: 1px solid transparent;
}

header {
    background-color: #0070c09e;
}

#post-sect {
    background-color: #F2F2F2;
}

.username, .post-description {
    font-size: 15px;
}

.post-description-div {
    background-color: white;
}
.post-screen {
    border-top: 1px solid #3333336a;
    transition: 0.6s;
}
.post-screen:hover {
    background-color: #33333316;
}

.buttons {
    background-color: #FF9900!important;
}

#web-title, .buttons {
    color: #333333!important;
}

a {
    text-decoration: none!important;
}

.btnB {
    transition: .4s;
}

.btnB:hover {
    background-color: #f79400!important;
    color: white!important;
}

@media (max-width: 768px) {
    #post-sect {
        width: 100%!important;
    }
}